.message-list {
  height: calc(100% - 170px);
  overflow-y: auto;
  background-color: white;
  background-size: 100%;
  padding: 20px 0px;
}

.message {
  padding: 17px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Benton-Light", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.4;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 300;
  margin-bottom: 10px;
}

.consumer {
  text-align: right;
  float: right;
  color: white;
  background-color: #928cb7;
  width: calc(100% - 120px);
  word-wrap: break-word;
  margin-right: 20px;
}
.agent {
  color: #263238;
  background-color: #f4f7f9;
  max-width: calc(100% - 120px);
  margin-left: 20px;
}
