.input {
  height: 55px;
  margin: 0;
  position: relative;
  bottom: 0;
  display: flex;
  background-color: #efefef;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.input-text {
  width: 275px;
  border: none;
  outline: none;
  resize: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow: scroll;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #565867;
  max-height: 300px;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
  font-size: 14px;
  padding: 16px;
  background-color: transparent;
  box-sizing: border-box;
  font-family: "Benton-Light", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.active {
  background-color: #fff;
  box-shadow: 0 -11px 20px -10px rgba(150, 150, 150, .2);
}

.input-submit {
  width: 32px;
  padding-right: 8px;
  margin-top: 16px;
  background: url('../assets/send.png');
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.ineligible {
  opacity: 0.1;
}

.eligible {
  opacity: 0.25;
  transition: opacity .5s;
  cursor: pointer;
}

.eligible:hover {
  opacity: 0.5;
  transition: opacity .5s;
}

@media (max-width: 450px) {
  .input-text {
    width: 100%;
  }
}
