.chat-toggle {
  cursor: pointer;
  background-image: linear-gradient(to right top, #706e9f, #7c7aac, #8886b9, #9492c6, #a09ed4);
  border-radius: 50%;
  padding: 5px 10px 10px 10px;
  -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 1;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: box-shadow 0.2s ease-in-out;
}

.chat-toggle:hover {
  box-shadow: 0 0px 27px 1.5px rgba(0,0,0,0.4);
}

.chat-icon {
  padding-top: 5px;
  opacity: 1;
  transition: transform 100ms;
}

.open {
  margin-left: -32px;
}

.icon-hidden {
  opacity: 0;
  transform: rotate3d(1, 1, 1, 45deg);
}

.new-msg-count {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
	width: 18px;
  height: 18px;
  background: #e02c1f;
  color: white;
  text-align: center;
  font-size: 10px;
  overflow: hidden;
  font-family: "Benton-Light", Helvetica, Arial, sans-serif;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, .3);
}

.count-hidden {
  display: none;
}
